<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Eliminar Reporte</h1>
    <h3>¿Está seguro que desea eliminar este registro?</h3>
    <div>
        <hr />
        <dl class ="row">
            <dt class = "col-sm-2">ID</dt>
            <dd class = "col-sm-10" th:text="${reporte.id}"></dd>

            <dt class = "col-sm-2">Tipo</dt>
            <dd class = "col-sm-10" th:text="${reporte.tipo}"></dd>

            <dt class = "col-sm-2">Fecha Generado</dt>
            <dd class = "col-sm-10" th:text="${reporte.fechaGenerado}"></dd>

            <dt class = "col-sm-2">Generado Por</dt>
            <dd class = "col-sm-10" th:text="${reporte.generadoPor}"></dd>

            <dt class = "col-sm-2">Contenido</dt>
            <dd class = "col-sm-10" th:text="${reporte.contenido}"></dd>
        </dl>

        <form th:action="@{/reportes/delete}" method="post">
            <input type="hidden" name="Id" th:value="${reporte.id}">
            <input type="submit" value="Eliminar"  class="btn btn-danger">
            <a th:href="@{/reportes}">Regresar</a>
        </form>
    </div>
</div>