<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Eliminar Equipo</h1>
    <div>
        <hr />
        <dl class ="row">
            <dt class = "col-sm-2">ID</dt>
            <dd class = "col-sm-10" th:text="${equipo.id}"></dd>

            <dt class = "col-sm-2">Nombre</dt>
            <dd class = "col-sm-10" th:text="${equipo.nombreEquipo}"></dd>

            <dt class = "col-sm-2">Descripcion</dt>
            <dd class = "col-sm-10" th:text="${equipo.descripcion}"></dd>

            <dt class = "col-sm-2">Ubicacion</dt>
            <dd class = "col-sm-10" th:text="${equipo.ubicacion}"></dd>

            <dt class = "col-sm-2">Estado</dt>
            <dd class = "col-sm-10" th:text="${equipo.estado}"></dd>

            <dt class="col-sm-2">Fecha de Registro</dt>
            <dd class="col-sm-10"
                th:text="${#temporals.format(equipo.fechaRegistro, 'dd/MM/yyyy')}"></dd>
        </dl>

        <h3>¿Está seguro que desea eliminar este registro?</h3>
        <form th:action="@{/equipos/delete}" method="post">
            <input type="hidden" name="Id" th:value="${equipo.id}">
            <input type="submit" value="Eliminar"  class="btn btn-danger">
            <a th:href="@{/equipos}">Regresar</a>
        </form>
    </div>
</html>