<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layouts/_mainLayout">

<div layout:fragment="content">

    <!-- Mostrar mensaje de confirmación en caso de éxito -->
    <div th:if="${mg != null}">
        <script>
            Swal.fire({
            title: "Confirmación",
            text: '[[${msg}]]',
            icon: "success"
            });
        </script>
    </div>

    <!-- Mostrar mensaje de error en caso de error -->
    <div th:if="${error != null}">
        <script>
            Swal.fire({
            title: "Error",
            text: '[[${error}]]',
            icon: "error"
            });
        </script>
    </div>

    <h1>Listado de Equipos</h1>
    <a th:href="@{/equipos/create}" class="btn btn-outline-primary">Nuevo equipo</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Ubicacion</th>
            <th>Estado</th>
            <th>Fecha de Registro</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${equipos}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.nombreEquipo}"></td>
            <td th:text="${item.descripcion}"></td>
            <td th:text="${item.ubicacion}"></td>
            <td th:text="${item.estado}"></td>
            <td th:text="${#temporals.format(item.fechaRegistro, 'dd/MM/yyyy')}"></td>
            <td>
                <a th:href="@{/equipos/details/{id} (id = ${item.id}) }" class="btn btn-outline-secondary">Detalles</a>
                <a th:href="@{/equipos/edit/{id} (id = ${item.id}) }" class="btn btn-outline-info">Editar</a>
                <a th:href="@{/equipos/remove/{id} (id = ${item.id}) }" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:each="pageNumber : ${pageNumbers}">
                <a class="page-link" th:href="@{|/equipos?page=${pageNumber}|}" th:text="${pageNumber}"></a>
            </li>
        </ul>
    </nav>

</div>
</html>